# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. Matplotlib
5. NLTK

|Data Science Tools|
|------------------|
|Apache Spark|
|Tableau|
|Tensonflow|
|Python|
 |R|
 |Matplotlib|

### Below are a few examples of evaluating arithmetic expressions in python.

This is a simple arithmatic expression to multiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [3]:
(200/60)

3.3333333333333335

__Objectives:__

- List popular languages in Data Science
- List popular tools in Data Sciene
- Create a Table
- Arithmetic expressions in python

## Author

Gobinda Thapa